@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Lexend+Giga&family=Poppins&display=swap');

.home{
    text-decoration: none;
}
.logo-text{
    margin-top: 20px;
    margin-left: 70px;
    margin-bottom: 30px;
    text-align: center;
    
    font-family: 'Lexend Giga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.325em;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    }
    
.logo{
    width: 87px;
    height: 54px;
    background: url(../image/logo.svg) no-repeat;
    cursor: pointer;
}

.container-1{
    background-color: #e7dbff88;
    padding: 20px;
}
.container-2{
    background-color: #dbc8ffa2;
    padding: 20px;
}

.gradient {
    background: linear-gradient(to right, #8772B1, #cec3e0);
}
.background1{
    background-color: #a591ce;
    width: 70%;
    margin: 30px;
    margin-top: 50px;
}

.separate{
    width: 90%;
    height: 7px;
    margin: 30px;
    margin-top: 40px;
    margin-bottom: 40px;

    background: #a591ce;
}
.background2{
    background-color: #a591ce;
    width: 70%;
    margin: 20px;
    margin-left: 180px;
}
.background1 img{
    width: 95%;
    height: auto;
    padding: 10px;
}
.background2 img{
    width: 95%;
    height: auto;
    padding: 10px;
}

.slogan{
    font-family: 'Lexend Giga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;
    letter-spacing: 0.325em;
    margin-left: 20px;
    color: #000000;
}

.input{
    background-color: #bbbbbb9c;
    border-radius: 0px;
    height: 50px;
    font-family: 'Lexend Giga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.10em;
    padding-left: 30px;
}

.iniciar-sesion{
    background: linear-gradient(to right, #8772B1, #bca7df);
    border-radius: 0px;
    width: 100%;
    height: 50px;
    font-family: 'Lexend Giga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.10em;
    border: 0px;
    color: #000000;
}

.iniciar-sesion:hover{
    background: linear-gradient(to right, #bca7df, #8772B1);
}

.password{
    text-decoration: none;
    font-family: 'Lexend Giga', sans-serif;
    font-style: normal;
    font-size: 13px;
}

.new-register-1{
    left: 149px;
    top: 748px;
    font-family: 'Lexend Giga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
}

.new-register-2{
    left: 149px;
    top: 748px;
    font-family: 'Lexend Giga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color:#6918B4;
    text-decoration: none;
}

.new-register-2:hover{
    left: 149px;
    top: 748px;
    font-family: 'Lexend Giga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    color:#440f75;
    text-decoration: none;
}

.box-eye{
    position: relative;
    top: 3px;
    right: 20px;
}
.box-eye button{
    border: none;
    position: absolute;
}

.fa-eye, .fa-eye-slash{
    color: #6918B4;
}

.text{
    font-family: 'Lexend Giga', sans-serif;
}